---
import Layout from '../layouts/Layout.astro';
import GPCardAstro from '../components/GPCard.astro'

type Data = {
	grandPrix: { name: string };
	events: { name: string; start_at: string }[];
}

export type GPDataOutput = {
	gp: string,
	firstDayOfEvent: string,
	lastDayOfEvent: string,
	events: { name: string; start_at: string }[];
	show: boolean
}

const BASE_URL = "https://f1-api-production.up.railway.app";
const response = await fetch(BASE_URL + "/api/grand-prix");
const data = await response.json() as Data[];
const output: GPDataOutput[] = data.map((item, pos) => ({
	gp: item.grandPrix.name,
	firstDayOfEvent: item.events[0]?.start_at,
	lastDayOfEvent: item.events[item.events.length - 1]?.start_at,
	events: item.events,
	show: pos != (data.length - 1),
})).filter(item => item.events.length > 0);
const nextGp = output.find(item => new Date(item.firstDayOfEvent).getTime() >= Date.now());

---

<Layout title="Welcome to Astro.">
	<main class="grid gap-6 p-3">
		<h1 class="text-4xl font-bold">Formula 1 - Agenda 2024</h1>
		<section class="grid gap-6">
			<div class="flex items-center gap-3">
				<h3 class="text-2xl font-semibold">
					Próxima corrida
				</h3>
				<div class="w-8 h-0.5 bg-zinc-800" />
			</div>
			{
				nextGp && <GPCardAstro item={nextGp} />
			}
		</section>
		<div class="flex items-center gap-3">
			<h3 class="text-2xl font-semibold">
				Corridas da temporada
			</h3>
			<div class="w-8 h-0.5 bg-zinc-800" />
		</div>
		<section class="grid gap-3">
			{
				output.map((item, pos) => (
					<GPCardAstro item={item} />
					<Fragment>{item.show && <diV class="w-full h-[1px] bg-zinc-300" />}</Fragment>
				))
			}
		</section>
	</main>
</Layout>
